
.img {
    width: 230px;
    height: 190px;
}

.text {
    margin: 5px;
    color: #1C517A;
}

.paf {
    margin: 5px;
    color: #1C517A
}

.paf2 {
    position: absolute;
    bottom: 5px;
    margin-left: 30%;
}

.button {
    cursor: pointer;
    background-color: #1C517A;
    border: 1px solid white;
    color:white;
    padding: 2px 15px 2px 15px;
    border-radius: 70px;
    font-size: 12px;
}

@media screen and (max-width: 500px){
    .img {
        width: 190px;
        height: 160px;
    }
    .paf2 {
        margin-left: 25%;
    }
}

@media screen and (max-width: 400px){
    .img {
        width: 160px;
        height: 140px;
    }
    .paf2 {
        margin-left: 20%;
    }
}