.page{
    background-image: url('../images/fondo1.jpg');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    background-size: cover;
    position:absolute;
    top: 10;
    left: 0;
}

.h1 {
  color: white;
  font-size: 8rem;
  font-weight: bold;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  border-radius: 10px;
  margin-top: 150px;
  align-items: flex-start;
  margin-left: 100px;
}

@keyframes fluido {
  0% { background-position: 0 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0 50% }
}

.img {
  width: 100px;
  height: 100px;
}

.button {
  margin-top: 20px;
  margin-left: 300px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background: white;
  border: 3px solid #449D86;
  border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  transform: translateY(-6px);
  }

.button::after {
content: '';
  border-radius: 50%;
  min-width: calc(120px + 12px);
  min-height: calc(120px + 12px);
  border: 6px solid white;
  box-shadow: 0 0 60px #449D86;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  transform: translateY(-6px);
}

.button:hover, .button:focus {
  color: white;
  
}

.button::before {
  content: '';
  width: 50px; height: 50px;
  border-radius: 50%;
  border: 6px solid #449D86;
  position: absolute;
  z-index: -1;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
} 


@media screen and (max-width: 800px){
  .h1 {
   font-size: 6rem;
   margin-left: 70px; 
  }
  .button {
    margin-left: 200px;
  }

 }